@tailwind base;
@tailwind components;
@tailwind utilities;

/* global styles  */
body {
  @apply dark:text-text_white text-text_black;
}
input {
  outline: none;
}
.bg_pri {
  @apply bg-bg_pri_light dark:bg-bg_pri_dark/10;
}
.bg_sec {
  @apply bg-white dark:bg-black;
}

.screen-center {
  @apply w-[95%] mx-auto;
}

/* texts  */
.p_text {
  @apply text-sm font-normal;
}
.h4_text {
  @apply text-base font-medium;
}
.h2_text {
  @apply text-[26px] font-semibold;
}

.hide_scrollbar::-webkit-scrollbar {
  display: none;
}

.hide_scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* @media (max-width: 650px) {
  th {
    display: none;
  }
  td {
    display: block;
    padding: 0.75rem 1rem;
  }
  td:first-child {
    padding-top: 2rem;
  }
  td:last-child {
    padding-bottom: 2rem;
  }
  td::before {
    content: attr(data-cell) ": ";
    text-transform: capitalize;
    font-weight: 600;
  }
} */
